<div id="footer">
	<div class="center">
		<!--BEGIN FOLLOW-->
		<div class="follow">
			<p>Follow</p>
			<ul class="follow-links">
				<li><a href="https://www.facebook.com/aKomanet" target="_new" class="sm-follow facebook"></a></li>
				<li><a href="https://twitter.com/aKomanet" target="_new" class="sm-follow twitter"></a></li>
			</ul>
		</div>
		<!-- END FOLLOW -->
		<!--FOOTER LINKS-->
		<ul class="links">
			<li><a href="/termsconditions" class="footer-link">Terms and Conditions</a></li>
			<li><a href="/privacypolicy" class="footer-link">Privacy Policy</a></li>
			<li><a href="http://akomanet.com/contact/" target="_new" class="footer-link">Contact Us</a></li>

		</ul>
		<!---END FOOTER LINKS-->
		<div class="clear"></div>
	</div>
</div>