
<div id="relative">
	<div id="nav-background"></div>
	<!--LOGO-->
	<a href="/" id="logo"></a>
	<!--END LOGO-->
	<!--MAIN MENU-->
	<a href="#" id="menu">
		<div id="relative">
			<div class="menu-bar one"></div>
			<div class="menu-bar two"></div>
			<div class="menu-bar three"></div>
		</div>
	</a>
	<!--END MENU-->
	<!--WRITE STORY-->
		<a href="/ghost/editor" id="write-story">
			<div class="relative">
				<div id="compose-icon"></div>
				<p>Write a story</p>
			</div>
		</a>
	<!--END WRITE-->
	<!--BEGIN ACCOUNT DROPDOWN/LOG IN-->
		<a href="#" id="log-in">
			<div id="relative">
				<div id="logged-out-icon"></div>
			</div>
		</a>
	<!--END ACCOUNT-->
</div>
