{{#if next}}
<a href='{{page_url next}}' data-pagination-link class="load-more">
	<div class="load-more-button">
		<div class="relative">
			Load More
			<div class="arrow"></div>
		</div>
	</div>
</a>
{{/if}}