<div id="user-gate" class="fadedIn">
    <div id="overlay-background"></div>
    <div class="relative">
        <div id="social-sign-in">
            <p class="sign-in">Your Access is Pending</p>
        </div>
    </div>
</div>