<div id="user-gate" class="fadedIn">
    <div id="overlay-background"></div>
    <div class="relative">
        <div id="social-sign-in">
            <p class="sign-in">Sign in to aKoma</p>
            <a href="/auth/twitter" class="social-sign-in-button" id="tw-single-sign-on">Sign in with Twitter<div class="icon"></div></a>
            <a href="/auth/facebook" class="social-sign-in-button" id="fb-single-sign-on">Sign in with Facebook<div class="icon"></div></a>
            <p class="ss-info">We will never post to Twitter or Facebook without your permission.</p>
        </div>
    </div>
</div>