

.editor {
	.markdown-editor {
        position: relative;
        padding:0px;
    }

    .entry-markdown,
    .entry-preview {
        position: relative;
        top:0px;
        bottom: 0px;
        padding: 0px;
        border: none;
        background: none;
    }

    .entry-markdown-content {
        position: relative;
    }
}

#container {
    position: initial;
}

#gh-main.viewport {
    position: relative;
}

#story-detail #story-image #upload-container, #story-detail #story-image .image-uploader {
    padding-top:40px!important;
    height:145px!important;
}

.image-uploader .media:before {
    display: block;
}

.hidden {
    display: none;
}