

.editor {
	.markdown-editor {
        position: relative;
        padding:0px;
    }

    .entry-markdown,
    .entry-preview {
        position: relative;
        top:0px;
        bottom: 0px;
        padding: 0px;
        border: none;
        background: none;
    }

    .entry-markdown-content {
        position: relative;
    }
}

#container {
    position: initial;
}

#gh-main.viewport {
    position: relative;
    overflow: inherit;
}

#story-detail #story-image #upload-container, #story-detail #story-image .image-uploader {
    padding-top:40px!important;
    height:145px!important;
}

.image-uploader .media:before {
    display: block;
}

.hidden {
    display: none;
}

.label {
  padding:0px;
}

#entry-tags .tag {
    padding:0px;
    background: inherit;
    border-radius:inherit;
    box-shadow:none;
}

#container {
    overflow: inherit;
}

body.settings {
    padding-top: 88px;

    #gh-main.viewport {
        position:absolute;
    }

    .settings-nav {
        top: 30px;
    }

    .settings-menu-container .settings-menu-pane {
        top: 100px;
    }
}


#entry-tags .tag {
    margin-right: 0px;
}
#entry-tags .tag:after { 
    content:'';
}