	
	//basic namespace provides UI in black state
	// .is-white provides styles for fixed overlay state
	// .compose-story provides styles for story composition

	#primary-nav {
		height:87px;
		width:100%;
		position:fixed;
		top:0px;
		left:0px;
		z-index:1000;
	
		&.is-white {
			border-bottom: none;
			background: none;
		}

		//background for animting in white layer
		#nav-background {
			height: 100%;
			width: 100%;
			position: absolute;
			border-bottom: 1px solid $rule-color;
			top: 0px;
			left: 0px;
			background: #FFF;
			opacity: 1;
			-webkit-transition: all 0.25s ease-out;
    		-moz-transition: all 0.25s ease-out;
    		-o-transition: all 0.25s ease-out;
		}

		&.is-white {
			#nav-background {
				height: 0;
				opacity: 0;
			}
		}

		//content nested into this layer
		#nav-content {
			height: 100%;
			width: 100%;
			position:absolute;
			top:0px;
			left:0px;
		}



		@include respond-to(handhelds) {
			height:50px;	
		}

		a#logo {
			width:96px;
			height:26px;
			display:block;
			position:absolute;
			left:50%;
			margin-left: -48px;
			top:30px;
			background-position: 0 0;
			background: url(#{$assets_path}images/aKoma_logo.png) no-repeat;
			background-size:100%;

			@include respond-to(handhelds) {
				width:64px;
				height:24px;
				top:16px;
				left:49px;
				margin-left:0px;	
			}

			/* 1.5 dpr */
			@media(-webkit-min-device-pixel-ratio: 1.5), 
			(min-resolution: 144dpi){ 
			    background: url(#{$assets_path}images/aKoma_logo@2x.png) top left no-repeat;
			    background-size:100%;
			}
		}

		&.is-white {
			a#logo {
				background-position: 0 -26px;
					/* 1.5 dpr */
				@include respond-to(handhelds) {
					background-position: 0 -18px;	
				}
			}	
		}

		a#write-story {
			width:204px;
			height:40px;
			position:absolute;
			top: 23px;
			right: 87px;
			border:1px solid #000;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			overflow: hidden;
			text-decoration: none;

				@include respond-to(handhelds) {
					height:30px;
					width:30px;
					border-radius:50%;
					top:10px;
					right:65px;
					
				}

			p {
				position:absolute;
				width: 100%;
				height:30px;
				top:8px;
				text-align: center;
				font-size: 20px;
				font-weight:200;
				color:#000;
				margin-top: 0px;

				@include respond-to(handhelds) {
					display:none;	
				}
			}

			#compose-icon {
				height:14px;
				width:14px;
				background:url(#{$assets_path}images/compose_story.png) no-repeat;
				position:absolute;
				display:none;
				top:8px;
				left:8px;
				overflow: hidden;
				background-position: 0 0;

				/* 1.5 dpr */
				@media(-webkit-min-device-pixel-ratio: 1.5), 
				(min-resolution: 144dpi){ 
				    background: url(#{$assets_path}images/compose_story@2x.png) no-repeat;
				    background-size:100%;
				}

				@include respond-to(handhelds) {
					display:block;
					
				}

				
				
			}

		}

		&.compose-story {
			a#write-story  {
				display:none;
			}
		}

		&.is-white {
			a#write-story {
				border:1px solid #FFF;

				p {
					color:#FFF;
				}

				#compose-icon {
					background-position: 0 -14px;
				}
			}
		}

		#account-icon-wrapper {
			height:42px;
			width:42px;
			position:absolute;
			top: 23px;
			right: 30px;

			@include respond-to(handhelds) {
				height:30px;
				width:30px;
				top:10px;
				right:16px;	
			}

			a#log-in {
				height:42px;
				width:42px;
				border-radius: 50%;
				border: 1px solid #000;
				display: block;
				overflow: hidden;
				position:relative;
				-webkit-backface-visibility: hidden;
				-webkit-transform: translateX(0);

	
					

					@include respond-to(handhelds) {
						height:30px;
						width:30px;
						border-radius:50%;
					}

					#logged-out-icon {
						width:24px;
						height:33px;
						position:absolute;
						background-position: 0 0;
						background: url(#{$assets_path}images/log_in.png) no-repeat;
						background-size:100%;
						top:10px;
						left:9px;

						@include respond-to(handhelds) {
							width:18px;
							height:24px;
							top:7px;
							left:6px;
							
						}


						/* 1.5 dpr */
						@media(-webkit-min-device-pixel-ratio: 1.5), 
						(min-resolution: 144dpi){ 
						    background: url(#{$assets_path}images/log_in@2x.png) no-repeat;
						    background-size:100%;
						}
					}

			

			}

		}

		//later to be nested in
		//the logged in icon
		#logged-in-actions {
			width: 250px;
			height: auto;
			background: #FFF;
			border: 1px solid $rule-color;
			position: absolute;
			top: 50px;
			right: -3px;
			opacity:0;
			-webkit-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.28);
			-moz-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.28);
			box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.28);

			-webkit-transition: opacity 0.25s ease-out;
    		-moz-transition: opacity 0.25s ease-out;
    		-o-transition: opacity 0.25s ease-out;

    		@include respond-to(handhelds) {
				position:fixed;
				height: 100%;
				width: 100%;
				top:0px;
				left: 0px;			
			}


    		&.fadedIn {
    			opacity:1;
    		}

    		&.hidden {
    			height:0px;
    			overflow:hidden;
    		}

			&:after, &:before {
				bottom: 100%;
				right: 12px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: #FFF;
				border-width: 10px;
				margin-left: -10px;
			}
			&:before {
				border-color: rgba(194, 225, 245, 0);
				border-bottom-color: #c2e1f5;
				border-width: 11px;
				margin-left: -11px;
			}

			ul#logged-in-actions-list {
				width: 100%;
				padding-top:18px;
				height: auto;

				li {
					width: 100%;
					height: 35px;
					margin-bottom:8px;

					&.last {
						margin-bottom: 0px;
					}

					a.logged-in-action {
						font-size: 14px;
						color: #000;
						height: 100%;
						display: block;
						position:relative;
						padding-left: 60px;
						text-decoration: none;


						&.grey-text {
							color: $light-grey;
						}

						div.action-icon {
							position:absolute;

							&.manage-site-content {
								top:-8px;
								left:18px;
								height: 30px;
								width: 22px;
								background: url(../images/manage_site_content.png) no-repeat;
								background-size: 100%;
							}

							&.new-story {
								top:-9px;
								left:15px;
								height: 31px;
								width: 35px;
								background: url(../images/new_story.png) no-repeat;
								background-size: 100%;
							}


							&.drafts-and-stories {
								top:-2px;
								left:15px;
								height: 27px;
								width: 26px;
								background: url(../images/drafts_and_stories.png) no-repeat;
								background-size: 100%;
							}

							&.view-profile {
								top:-3px;
								left:21px;
								height: 22px;
								width: 17px;
								background: url(../images/action_profile.png) no-repeat;
								background-size: 100%;
							}

							&.sign-out {
								top:-4px;
								left:12px;
								height: 23px;
								width: 26px;
								background: url(../images/sign_out.png) no-repeat;
								background-size: 100%;
							}
						}
					}
				}
			}

			
		}


		&.is-white {
			#account-icon-wrapper {
				a#log-in {
					border: 1px solid #FFF;

					#logged-out-icon {
						background-position: 0 -33px;

						@include respond-to(handhelds) {
							background-position: 0 -25px;
						}
					}
				}
			}
		}

		//finish writing story button
		a#finish-writing-story {
			width:204px;
			height:40px;
			position:absolute;
			top: 23px;
			right: 87px;
			border:1px solid #000;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			overflow: hidden;
			text-decoration: none;
			display: none;

				@include respond-to(handhelds) {
					height:30px;
					width:100px;
					border-radius:20px;
					top:10px;
					right:65px;
					
				}

			p {
				position:absolute;
				width: 100%;
				height:30px;
				top:8px;
				text-align: center;
				font-size: 20px;
				font-weight:200;
				color:#000;
				margin-top: 0px;

				@include respond-to(handhelds) {
					font-size: 15px;
					top:6px;	
				}
			}

		}

		&.compose-story {
			a#finish-writing-story {
				display: block;
			}
		}

	}