/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


/************************************************************
*	CREATE GLOBAL VARS
*/	
@import "./reset";

	//COLOR SCHEME
	$aKoma-yellow : #F0950C;
	$aKoma-blue : #1B8CD5;
	$light-grey : #979797;
	$mid-grey : #666666;
	$dark : #000;

	//horizontal rule
	$rule-color : #D8D8D8;

	$rule-color : #D8D8D8;
	$Lato : Lato, helvetica, arial, san-serif;
	$assets_path: "../";


/************************************************************
*	CREATE MAIN RESPONSIVE MIXIN
*/

@mixin respond-to($media) {
   @if $media == tablet {
    @media only screen and (max-width: 1024px) { @content; }
  }
  @else if $media == handhelds {
    @media only screen and (max-width: 768px) { @content; }
  }

   @else if $media == smallPhone {
    @media only screen and (max-width: 320px) { @content; }
  }

}
  /*example of mixin use
  	@include respond-to(handhelds) {
			//write sass here
		}
	*/

/************************************************************
*	GLOBAL BODY STYLES/UTILITY CLASSES
*/

	body {
		//apply font smoothing
		 -webkit-font-smoothing: antialiased;
		 font-family: $Lato;

		 &.detail, &.post-template {
		 	padding-top: 88px;
		 }


		 &.full-bleed {
		 	padding-top: 0px;
		 }
	}

	div.relative {
		height:100%;
		width:100%;
		position:relative;
	}

	div.clear {
		clear: both;
	}

	img { 
		display:block;
	}

/************************************************************
*	GLOBAL ELEMENTS
*/
	//recommend button
	div.recommend {
		width: 55px;
		height: 27px;
		cursor: pointer;

		div.heart {
			height: 27px;
			width: 27px;
			background: url(#{$assets_path}images/heart.png) top left no-repeat;
			float:left;

				/* 1.5 dpr */
			@media(-webkit-min-device-pixel-ratio: 1.5), 
			(min-resolution: 144dpi){ 
			    background: url(#{$assets_path}images/heart@2x.png) top left no-repeat;
			    background-size:100%;
			}
		}

		div.count {
			width: 25px;
			float:right;
			font-size: 13px;
			color: $light-grey;
			padding-top: 5px;
		}
	}

	//author
	div.author {
		width:230px;

			div.author-image {
				height:50px;
				width:50px;
				border-radius:50%;
				background:#ccc top left no-repeat;
				background-size: 100%;
				float:left;

			}

			div.byline {
				width:170px;
				float: right;

				p {
					font-size: 15px;
					font-weight: 400;
					color: $aKoma-blue;
					margin-top:11px;

					a {
						color:inherit;
						text-decoration: inherit;
					}

					span {
						font-size:13px;
						display:block;
						color: $light-grey;
						margin-top:2px;
					
					}

				}


			}

		}

	div.story-meta {
		width : 100%;

		div.tags {
			height: 20px;
			float:left;

			p {
				height:20px;
				float: left;
				display:block;
				font-size: 14px;
				padding-top:3px;
				color: $light-grey;
				margin-right: 6px;
			}

			ul {
				height: 20px;
				float:left;

				li {
					height: 20px;
					margin-right: 4px;
					float: left;
					
					a.tag {
						display:block;
						height: 17px;
						padding-top:3px;
						width: 60px;
						border-radius: 6px;
						background: #C4c4c4;
						text-align: center;
						color: #FFF;
						font-size: 13px;
						font-weight: 400;
						text-decoration: none;
						
					}

				}
			}

		}
	}


/************************************************************
*	BEGIN PRIMARY NAVIGATION
*/	

	//basic namespace provides UI in black state
	// .is-white provides styles for fixed overlay state
	#primary-nav {
		height:87px;
		border-bottom: 1px solid $rule-color;
		width:100%;
		//position:fixed;
		position:absolute;
		top:0px;
		left:0px;

		&.is-white {
			border-bottom: none;
			position:absolute;
		}

		@include respond-to(handhelds) {
			height:50px;	
		}

		a#logo {
			width:96px;
			height:26px;
			display:block;
			position:absolute;
			left:50%;
			margin-left: -48px;
			top:30px;
			background-position: 0 0;
			background: url(#{$assets_path}images/aKoma_logo.png) no-repeat;
			background-size:100%;

			@include respond-to(handhelds) {
				width:64px;
				height:24px;
				top:16px;
				left:44px;
				margin-left:0px;	
			}

			/* 1.5 dpr */
			@media(-webkit-min-device-pixel-ratio: 1.5), 
			(min-resolution: 144dpi){ 
			    background: url(#{$assets_path}images/aKoma_logo@2x.png) top left no-repeat;
			    background-size:100%;
			}
		}

		&.is-white {
			a#logo {
				background-position: 0 -26px;
					/* 1.5 dpr */
				@include respond-to(handhelds) {
					background-position: 0 -18px;	
				}
			}	
		}


		a#menu {
			width:50px;
			height:50px;
			position:absolute;
			display:block;
			left:20px;
			top:18px;

			@include respond-to(handhelds) {
				height:40px;
				width:40px;
				left:0px;
				top:5px;	
			}

			div.menu-bar {
				width:35px;
				height:2px;
				position:absolute;
				left:7px;
				background:#000;

					@include respond-to(handhelds) {
						width:27px;
					}

					
				&.one {
					top:15px;
					@include respond-to(handhelds) {
						top:13px;
					}
				}

				&.two {
					top:24px;
					@include respond-to(handhelds) {
						top:19px;
					}
				}

				&.three {
					top:33px;
					@include respond-to(handhelds) {
						top:25px;
					}
				}

			}

		}

		&.is-white {
			a#menu {
				div.menu-bar {
					background:#FFF;
				}
			}
				
		}

		a#write-story {
			width:204px;
			height:40px;
			position:absolute;
			top: 23px;
			right: 87px;
			border:1px solid #000;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			overflow: hidden;
			text-decoration: none;

				@include respond-to(handhelds) {
					height:30px;
					width:30px;
					border-radius:50%;
					top:10px;
					right:65px;
					
				}

			p {
				position:absolute;
				width: 100%;
				height:30px;
				top:8px;
				text-align: center;
				font-size: 20px;
				font-weight:200;
				color:#000;
				margin-top: 0px;

				@include respond-to(handhelds) {
					display:none;	
				}
			}

			#compose-icon {
				height:14px;
				width:14px;
				background:url(#{$assets_path}images/compose_story.png) no-repeat;
				position:absolute;
				display:none;
				top:8px;
				left:8px;
				overflow: hidden;
				background-position: 0 0;

				/* 1.5 dpr */
				@media(-webkit-min-device-pixel-ratio: 1.5), 
				(min-resolution: 144dpi){ 
				    background: url(#{$assets_path}images/compose_story@2x.png) no-repeat;
				    background-size:100%;
				}

				@include respond-to(handhelds) {
					display:block;
					
				}

				
				
			}

		}

		&.is-white {
			a#write-story {
				border:1px solid #FFF;

				p {
					color:#FFF;
				}

				#compose-icon {
					background-position: 0 -14px;
				}
			}
		}

		a#log-in {
			height:42px;
			width:42px;
			border-radius: 50%;
			border: 1px solid #000;
			position:absolute;
			top: 23px;
			right: 30px;
			overflow: hidden;

				@include respond-to(handhelds) {
					height:30px;
					width:30px;
					border-radius:50%;
					top:10px;
					right:14px;
					
				}

			#logged-out-icon {
				width:24px;
				height:33px;
				position:absolute;
				background-position: 0 0;
				background: url(#{$assets_path}images/log_in.png) no-repeat;
				background-size:100%;
				top:10px;
				left:9px;

				@include respond-to(handhelds) {
					width:18px;
					height:24px;
					top:7px;
					left:6px;
					
				}


				/* 1.5 dpr */
				@media(-webkit-min-device-pixel-ratio: 1.5), 
				(min-resolution: 144dpi){ 
				    background: url(#{$assets_path}images/log_in@2x.png) no-repeat;
				    background-size:100%;
				}
			}



		}

		&.is-white {
			a#log-in {
				border: 1px solid #FFF;

				#logged-out-icon {
					background-position: 0 -33px;

					@include respond-to(handhelds) {
						background-position: 0 -25px;
					}
				}
			}
		}
	}

/************************************************************
*	BEGIN FOOTER
*/
	#footer {
		height: 90px;
		width: 100%;
		background: #EFEFEF;
		margin-top: 200px;

		@include respond-to(handhelds) {
			height: 125px;
		}

		div.center {
			width: 600px;
			margin: 0 auto;

			@include respond-to(handhelds) {
				width: 100%;
				margin: none;
			}

			ul.links {
				height: 20px;
				padding-top:37px;
				float:left;

				@include respond-to(handhelds) {
					padding-top:15px;
					width: 310px;
					margin: 0 auto;
					float:none;
				}

				li {
					height: 20px;
					float:left;
					margin-right:20px;

					a.footer-link {
						font-size: 14px;
						color: $light-grey;
						text-decoration: none;

						@include respond-to(handhelds) {
							font-size: 12px;
						}
					}
				}
			}

			div.follow {
				height: 40px;
				float:right;
				width: 145px;
				padding-top:24px;

				@include respond-to(handhelds) {
					float: none;
					margin: 0 auto;
				}

				p {
					float:left;
					font-size: 14px;
					color: $light-grey;
					display: block;
					height: 25px;
					padding-top:15px;
				}

				ul.follow-links {
					height: 40px;
					float: right;

					li {
						float:right;
						margin-left:5px;
						a.sm-follow {
							display:block;
							height: 40px;
							width: 40px;
							border-radius: 50%;
							border: 1px solid $aKoma-blue;

							&.twitter {
								background: url(#{$assets_path}images/twitter_footer.png) no-repeat;
								background-position: 10px 12px;

									/* 1.5 dpr */
									@media(-webkit-min-device-pixel-ratio: 1.5), 
									(min-resolution: 144dpi){ 
									    background: url(#{$assets_path}images/twitter_footer@2x.png) no-repeat;
									    background-size:48%;
									    background-position: 11px 13px;
									}
							}

							&.facebook {
								background: url(#{$assets_path}images/facebook_footer.png) no-repeat;
								background-position: 14px 10px;

									/* 1.5 dpr */
									@media(-webkit-min-device-pixel-ratio: 1.5), 
									(min-resolution: 144dpi){ 
									    background: url(#{$assets_path}images/facebook_footer@2x.png) no-repeat;
									    background-size:25%;
									    background-position: 14px 11px;
									}
							}
						}

					}
				}
			}
		}

	}





/************************************************************
*	CATEGORY HERO AREA
*/

	#category-hero {
		width:100%;
		position:relative;
		height: auto;
		margin-bottom:15px;
		overflow:hidden;

		#image-area {
			width:100%;
			position:relative;

			#tint {
				position : absolute;
				top:0px;
				left:0px;
				background: #000;
				height: 100%;
				width: 100%;
				opacity: 0.7;
			}

			img {
				width: 100%;
				border: 0px;
				padding: 0px;
				margin:0px;
			}
		}

		#headline {
			//category page title
			width:700px;
			position:absolute;
			bottom: 50px;
			left:50%;
			margin-left: -300px;

			h3 {
				font-size:20px;
				font-weight:600;
				text-transform: uppercase;
				color: $aKoma-yellow;
				margin-bottom:8px;

				span.circle-decoration {
					height: 4px;
					width: 4px;
					border-radius: 2px;
					position : relative;
					top: -5px;
					display: inline-block;
					background-color: $aKoma-yellow;
					margin-left:4px;
					margin-right:4px;
				}

				span.cat-descrip {
					font-weight: 400;
					text-transform: none;
				}
			}

			h4 {
				font-size:45px;
				line-height: 55px;
				color:#FFF;
			}
		}
	}

/************************************************************
*	MAIN STORY LIST
*/

	#main-story-feed {
		width: 600px;
		margin: 0 auto;

		@include respond-to(handhelds) {
			width: 90%;
				
		}

		div.story {
			padding-bottom:25px;
			margin-top:25px;
			width:100%;
			border-bottom: 1px solid $rule-color;

			div.story-top {
				width : 100%;
				margin-bottom: 15px;

				div.author {
					float:left;
				}

				div.recommend {
					margin-top:12px;
					float:right;
				}
			}

			div.story-body {
				width : 100%;
				margin-bottom:20px;

				img {
					width:100%;
					margin-bottom: 20px;
				}

				h4 {
					color: $dark;
					font-size: 32px;
					line-height: 40px;
					font-weight: 400;
					margin-bottom: 10px;

					a {
						text-decoration: inherit;
						color:inherit;
					}
				}

				p {
					color: $mid-grey;
					font-size: 18px;
					line-height: 26px;
					font-weight: 200;
					margin-bottom: 15px;
				}

				a.read-more {
					font-size: 20px;
					color: $aKoma-blue;
					text-decoration: none;
				}
			}

			div.story-meta {
				width : 100%;

				div.tags {
					height: 20px;
					float:left;
				}
			}

				div.read-length {
					float:right;
					font-size: 14px;
					color : $light-grey;
					margin-top:5px;
				}
			

		}
		div.load-more-button {
			cursor: pointer;
			width: 100%;
			height: 40px;
			background: #EFEFEF;
			border-radius: 6px;
			text-align: center;
			font-size: 21px;
			color: $aKoma-blue;
			padding-top:15px;
			margin-top:30px;
			display:block;

			div.arrow {
				height: 31px;
				width: 31px;
				background: url(#{$assets_path}images/load_more_arrow.png) top left no-repeat;
				position:absolute;
				top:-3px;
				left:200px;

				@include respond-to(handhelds) {
					left:80px;
				}

				/* 1.5 dpr */
				@media(-webkit-min-device-pixel-ratio: 1.5), 
				(min-resolution: 144dpi){ 
				    background: url(#{$assets_path}images/load_more_arrow@2x.png) no-repeat;
				    background-size:100%;
				}
			}
		}
	}

/************************************************************
*	STORY DETAIL PAGE
*/

	#story-detail {
		#story-intro {
			width: 700px;
			margin: 0 auto;

			@include respond-to(handhelds) {
				width: 90%;	
			}

			h2 {
				font-size: 45px;
				color: #000;
				margin-top:40px;
				line-height: 55px;
				margin-bottom: 20px;

				@include respond-to(handhelds) {
					font-size: 24px;
					line-height: 30px;
					margin-top: 0px;
				}
			}

			//float author info left
			div.author {
				float:left;
			}

			//float recommend button right
			div.recommend {
				float:right;
				margin-top:10px;
			}
		}

		#story-image {
			margin-top:20px;
			margin-bottom: 50px;
			img {
				width: 100%;
			}
		}

		#story-body {
			width: 700px;
			margin: 0 auto;
			@include respond-to(handhelds) {
				width: 90%;	
			}

			p {
				font-size: 18px;
				line-height: 34px;
				margin-bottom: 40px;
			}
		}

		#story-footer {
			padding-bottom: 25px;
			border-bottom: 1px solid $rule-color;
			width: 700px;
			margin: 0 auto;

			@include respond-to(handhelds) {
				width: 90%;	
			}

			#social {
				width: 100%;

					//expanded state
					&.expanded {

						#share-tools {
							ul#main-share {
								li {
									div.plus {
										span.hr {
											display:none;
										}
									}
								}
							}

						}
					}

				#share-tools {

					float:left;

					@include respond-to(handhelds) {
						float: none;	
					}

					ul#main-share {
						height: 40px;
						float: left;



						li {
							float: left;
							height: 40px;
							margin-right: 7px;

							div.plus {
								height: 40px;
								width: 40px;
								background: #C4C3C3;
								border-radius: 50%;
								cursor: pointer;
								position:relative;

								span.vr {
									position:absolute;
									width: 20px;
									height: 2px;
									left:10px;
									top:19px;
									background: #FFF;
								}

								span.hr {
									position:absolute;
									width: 2px;
									height: 20px;
									left:19px;
									top:10px;
									background: #FFF;
								}

							}

							a.share-button {
								width: 120px;
								height: 26px;
								background: #000;
								display:block;
								border-radius: 40px;
								color: #FFF;
								font-size: 12px;
								padding-top:14px;
								padding-left:38px;
								text-decoration: none;
								font-weight: 600;

								@include respond-to(handhelds) {
									width: 80px;
									font-size: 14px;
									padding-top:12px;
									height:28px;
									padding-left:40px;
									width: 75px;
								}

								span.share-lang {
									@include respond-to(handhelds) {
										display:none;
									}
								}

								&.facebook {
									background: url(#{$assets_path}images/facebook_share.png) no-repeat #3A5795;
									background-position: 16px 9px;

									/* 1.5 dpr */
									@media(-webkit-min-device-pixel-ratio: 1.5), 
									(min-resolution: 144dpi) { 
									    background: url(#{$assets_path}images/facebook_share@2x.png) no-repeat #3A5795;
									    background-position: 18px 12px;
									    background-size:8%;
									}

								}

								&.twitter {
									background: url(#{$assets_path}images/twitter_share.png) no-repeat #55ACEE;
									background-position: 14px 11px;

									/* 1.5 dpr */
									@media(-webkit-min-device-pixel-ratio: 1.5), 
									(min-resolution: 144dpi) { 
									    background: url(#{$assets_path}images/twitter_share@2x.png) no-repeat #55ACEE;
									    background-position: 14px 14px;
									    background-size:14%;
									}
								}
							}
						}
					}

					ul#secondary-share {
						height: 40px;
						display:block;
						width: 100%;
						margin-top:2px;
						display:none;

						li {
							float: left;
							height: 40px;
							margin-right: 7px;

							a.share-button {
								width: 74px;
								height: 40px;
								border-radius: 40px;
								display: block;
								background-position: center;


								&.google-plus {
									background-image: url(#{$assets_path}images/google_plus_share.png);
									background-repeat: no-repeat;
									background-color: #C14A33;
								}


								&.google-plus {
									background-image: url(#{$assets_path}images/google_plus_share.png);
									background-repeat: no-repeat;
									background-color: #C14A33;
								}

								&.linkedIn {
									background-image: url(#{$assets_path}images/linkedIn_share.png);
									background-repeat: no-repeat;
									background-color: #0076B7;
								}


								&.email {
									background-image: url(#{$assets_path}images/email_share.png);
									background-repeat: no-repeat;
									background-color: #7FA1B4;
								}
								
							}
						}
					}

				}

				a.recommend-button {
					font-weight: 600;
					float: right;
					width: 105px;
					height: 26px;
					border: 2px solid $light-grey;
					display:block;
					border-radius: 40px;
					color: $light-grey;
					font-size: 12px;
					padding-top:14px;
					padding-left:50px;
					text-decoration: none;
					background: url(#{$assets_path}images/heart_recommend.png) no-repeat;
					background-position: 12px 10px;

					@include respond-to(handhelds) {
						float: none;
						margin-top:6px;
					}
				}

				&.expanded {
					#share-tools {
					ul#secondary-share {
						display: block;
					}
					}
				}
			}

			div.story-meta {
				width: 100%;
				margin-top:25px;
			}

		} 

	}







