/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


/************************************************************
*	CREATE GLOBAL VARS
*/	
@import "./reset";

	//COLOR SCHEME
	$aKoma-yellow : #F0950C;
	$aKoma-blue : #1B8CD5;
	$light-grey : #979797;
	$mid-grey : #666666;
	$dark : #000;

	//horizontal rule
	$rule-color : #D8D8D8;

	$rule-color : #D8D8D8;
	$Lato : Lato, helvetica, arial, san-serif;
	$assets_path: "../";


/************************************************************
*	CREATE MAIN RESPONSIVE MIXIN
*/

@mixin respond-to($media) {
   @if $media == tablet {
    @media only screen and (max-width: 1024px) { @content; }
  }
  @else if $media == handhelds {
    @media only screen and (max-width: 768px) { @content; }
  }

   @else if $media == smallPhone {
    @media only screen and (max-width: 320px) { @content; }
  }

}
  /*example of mixin use
  	@include respond-to(handhelds) {
			//write sass here
		}
	*/

/************************************************************
*	GLOBAL BODY STYLES/UTILITY CLASSES
*/

	body {
		//apply font smoothing
		 -webkit-font-smoothing: antialiased;
		 font-family: $Lato;

		 &.detail, &.post-template, &.manage {
		 	padding-top: 88px;
		 }


		 &.full-bleed {
		 	padding-top: 0px;
		 }
	}

	div.relative {
		height:100%;
		width:100%;
		position:relative;
	}

	div.clear {
		clear: both;
	}

	img { 
		display:block;
	}

/************************************************************
*	GLOBAL ELEMENTS
*/
	//recommend button
	div.recommend {
		width: 55px;
		height: 27px;
		cursor: pointer;

		div.heart {
			height: 27px;
			width: 27px;
			background: url(#{$assets_path}images/heart.png) top left no-repeat;
			float:left;

				/* 1.5 dpr */
			@media(-webkit-min-device-pixel-ratio: 1.5), 
			(min-resolution: 144dpi){ 
			    background: url(#{$assets_path}images/heart@2x.png) top left no-repeat;
			    background-size:100%;
			}
		}

		div.count {
			width: 25px;
			float:right;
			font-size: 13px;
			color: $light-grey;
			padding-top: 5px;
		}
	}

	//author
	div.author {
		width:230px;

		div.author-image {
			height:50px;
			width:50px;
			border-radius:50%;
			background:#ccc top left no-repeat;
			background-size: 100%;
			float:left;

		}

		div.byline {
			width:170px;
			float: right;

			p {
				font-size: 15px;
				font-weight: 400;
				color: $aKoma-blue;
				margin-top:11px;

				a {
					color:inherit;
					text-decoration: inherit;
				}

				span {
					font-size:13px;
					display:block;
					color: $light-grey;
					margin-top:2px;
				
				}

			}


		}

	}

	div.story-meta {
		width : 100%;

		div.tags {
			height: 20px;
			float:left;

			p {
				height:20px;
				float: left;
				display:block;
				font-size: 14px;
				padding-top:3px;
				color: $light-grey;
				margin-right: 6px;
			}

			ul {
				height: 20px;
				float:left;

				li {
					height: 20px;
					margin-right: 4px;
					float: left;
					
					a.tag {
						display:block;
						height: 17px;
						padding-top:3px;
						width: 60px;
						border-radius: 6px;
						background: #C4c4c4;
						text-align: center;
						color: #FFF;
						font-size: 13px;
						font-weight: 400;
						text-decoration: none;
						
					}

				}
			}

		}
	}

	/* placed in the story intro and in the story body in compose mode
	also placed in the tag story overlay */

	div.edit-icon {
		position: absolute;
		width: 40px;
		height: 36px;
		left:-50px;
		cursor: pointer;
		border-radius: 5px;
		background: url(#{$assets_path}images/edit_story_icon.png) no-repeat #D8D8D8;
		background-position: 11px 7px;

		/* 1.5 dpr */
		@media(-webkit-min-device-pixel-ratio: 1.5), 
		(min-resolution: 144dpi){ 
		    background: url(#{$assets_path}images/edit_story_icon@2x.png) no-repeat #D8D8D8;
		    background-size:40%;
		    background-position: 12px 8px;
		}

		@include respond-to(handhelds) {
			left:0px;
			height:23px;
			width:21px;
			background-size:60%;
			background-position: 5px 5px;
		}

	}


/************************************************************
*	PRIMARY NAVIGATION
*/	
	@import "./includes/nav";

/************************************************************
*	MAIN MENU
*/	
	@import "./includes/main_menu";

/************************************************************
*	MAIN MENU ICON
*/	
	@import "./includes/menu_icon";

/************************************************************
*	BEGIN FOOTER
*/
	#footer {
		height: 90px;
		width: 100%;
		background: #EFEFEF;
		margin-top: 200px;

		@include respond-to(handhelds) {
			height: 125px;
		}

		div.center {
			width: 600px;
			margin: 0 auto;

			@include respond-to(handhelds) {
				width: 100%;
				margin: none;
			}

			ul.links {
				height: 20px;
				padding-top:37px;
				float:left;

				@include respond-to(handhelds) {
					padding-top:15px;
					width: 310px;
					margin: 0 auto;
					float:none;
				}

				li {
					height: 20px;
					float:left;
					margin-right:20px;

					a.footer-link {
						font-size: 14px;
						color: $light-grey;
						text-decoration: none;

						@include respond-to(handhelds) {
							font-size: 12px;
						}
					}
				}
			}

			div.follow {
				height: 40px;
				float:right;
				width: 145px;
				padding-top:24px;

				@include respond-to(handhelds) {
					float: none;
					margin: 0 auto;
				}

				p {
					float:left;
					font-size: 14px;
					color: $light-grey;
					display: block;
					height: 25px;
					padding-top:15px;
				}

				ul.follow-links {
					height: 40px;
					float: right;

					li {
						float:right;
						margin-left:5px;
						a.sm-follow {
							display:block;
							height: 40px;
							width: 40px;
							border-radius: 50%;
							border: 1px solid $aKoma-blue;

							&.twitter {
								background: url(#{$assets_path}images/twitter_footer.png) no-repeat;
								background-position: 10px 12px;

									/* 1.5 dpr */
									@media(-webkit-min-device-pixel-ratio: 1.5), 
									(min-resolution: 144dpi){ 
									    background: url(#{$assets_path}images/twitter_footer@2x.png) no-repeat;
									    background-size:48%;
									    background-position: 11px 13px;
									}
							}

							&.facebook {
								background: url(#{$assets_path}images/facebook_footer.png) no-repeat;
								background-position: 14px 10px;

									/* 1.5 dpr */
									@media(-webkit-min-device-pixel-ratio: 1.5), 
									(min-resolution: 144dpi){ 
									    background: url(#{$assets_path}images/facebook_footer@2x.png) no-repeat;
									    background-size:25%;
									    background-position: 14px 11px;
									}
							}
						}

					}
				}
			}
		}

	}





/************************************************************
*	CATEGORY HERO AREA
*/

	#category-hero {
		width:100%;
		position:relative;
		height: auto;
		margin-bottom:15px;
		overflow:hidden;

		#image-area {
			width:100%;
			position:relative;

			#tint {
				position : absolute;
				top:0px;
				left:0px;
				background: #000;
				height: 100%;
				width: 100%;
				opacity: 0.7;
			}

			img {
				width: 100%;
				border: 0px;
				padding: 0px;
				margin:0px;
			}
		}

		#headline {
			//category page title
			width:700px;
			position:absolute;
			bottom: 50px;
			left:50%;
			margin-left: -300px;

			h3 {
				font-size:20px;
				font-weight:600;
				text-transform: uppercase;
				color: $aKoma-yellow;
				margin-bottom:8px;

				span.circle-decoration {
					height: 4px;
					width: 4px;
					border-radius: 2px;
					position : relative;
					top: -5px;
					display: inline-block;
					background-color: $aKoma-yellow;
					margin-left:4px;
					margin-right:4px;
				}

				span.cat-descrip {
					font-weight: 400;
					text-transform: none;
				}
			}

			h4 {
				font-size:45px;
				line-height: 55px;
				color:#FFF;
			}
		}
	}

/************************************************************
*	MAIN STORY LIST
*/

	#main-story-feed {
		width: 600px;
		margin: 0 auto;

		@include respond-to(handhelds) {
			width: 90%;
				
		}

		div.story {
			padding-bottom:25px;
			margin-top:25px;
			width:100%;
			border-bottom: 1px solid $rule-color;

			div.story-top {
				width : 100%;
				margin-bottom: 15px;

				div.author {
					float:left;
				}

				div.recommend {
					margin-top:12px;
					float:right;
				}
			}

			div.story-body {
				width : 100%;
				margin-bottom:20px;

				img {
					width:100%;
					margin-bottom: 20px;
				}

				h4 {
					color: $dark;
					font-size: 32px;
					line-height: 40px;
					font-weight: 400;
					margin-bottom: 10px;

					a {
						text-decoration: inherit;
						color:inherit;
					}
				}

				p {
					color: $mid-grey;
					font-size: 18px;
					line-height: 26px;
					font-weight: 200;
					margin-bottom: 15px;
				}

				a.read-more {
					font-size: 20px;
					color: $aKoma-blue;
					text-decoration: none;
				}
			}

			div.story-meta {
				width : 100%;

				div.tags {
					height: 20px;
					float:left;
				}
			}

				div.read-length {
					float:right;
					font-size: 14px;
					color : $light-grey;
					margin-top:5px;
				}
			

		}
		div.load-more-button {
			cursor: pointer;
			width: 100%;
			height: 40px;
			background: #EFEFEF;
			border-radius: 6px;
			text-align: center;
			font-size: 21px;
			color: $aKoma-blue;
			padding-top:15px;
			margin-top:30px;
			display:block;

			div.arrow {
				height: 31px;
				width: 31px;
				background: url(#{$assets_path}images/load_more_arrow.png) top left no-repeat;
				position:absolute;
				top:-3px;
				left:200px;

				@include respond-to(handhelds) {
					left:80px;
				}

				/* 1.5 dpr */
				@media(-webkit-min-device-pixel-ratio: 1.5), 
				(min-resolution: 144dpi){ 
				    background: url(#{$assets_path}images/load_more_arrow@2x.png) no-repeat;
				    background-size:100%;
				}
			}
		}
	}

/************************************************************
*	STORY DETAIL PAGE / COMPOSE STORY / PREVIEW STORY
*/

	#story-detail {

			div.editable-wrapper {
				
				&:focus {
				 	outline: none;
				}

				@include respond-to(handhelds) {
					padding-left:30px;
				}
			}

		#story-intro {
			width: 700px;
			margin: 0 auto;
			position:relative;

			div.edit-icon {
				top: 9px;

				@include respond-to(handhelds) {
					top:5px;
				}
			}

			@include respond-to(handhelds) {
				width: 90%;	
			}

			h2 {
				font-size: 45px;
				color: #000;
				margin-top:40px;
				line-height: 55px;
				margin-bottom: 20px;

				@include respond-to(handhelds) {
					font-size: 24px;
					line-height: 30px;
					margin-top: 0px;
				}

				div.editable-wrapper {
					&.not-edited-yet {
						color:#999;
					}
			
				}

			}

			

			//float author info left
			div.author {
				float:left;
			}

			//float recommend button right
			div.recommend {
				float:right;
				margin-top:10px;
			}
		}

		//manage story actions
		#manage-story-actions {
			width: 100%;

			ul.actions {
				width: 100%;
				height: 38px;
				margin-bottom: 30px;

				li {
					height: 38px;
					float: left;
					margin-right: 10px;

					&.last {
						float:right;
						margin-right: 0px;
					}

					a.action {
						height: 26px;
						width : 100px;
						border : 1px solid #DADADA;
						display: block;
						border-radius: 4px;
						position: relative;
						text-align: center;
						padding-left: 12px;
						font-size: 14px;
						color: #000;
						text-decoration: none;
						padding-top:12px;

						div.edit-story-icon {
							height: 15px;
							width: 15px;
							background: url(#{$assets_path}images/edit_manage_action.png) no-repeat;
							background-position: 0 0;
							top: 11px;
							left: 15px;
							position: absolute;

							/* 1.5 dpr */
							@media(-webkit-min-device-pixel-ratio: 1.5), 
							(min-resolution: 144dpi){ 
							    background: url(#{$assets_path}images/edit_manage_action@2x.png) no-repeat;
							    background-size:100%;
							}
						}

						div.hide-story-icon {
							height: 22px;
							width: 28px;
							background: url(#{$assets_path}images/hide.png) no-repeat;
							background-position: 0 0;
							top: 8px;
							left: 11px;
							position: absolute;

							/* 1.5 dpr */
							@media(-webkit-min-device-pixel-ratio: 1.5), 
							(min-resolution: 144dpi){ 
							    background: url(#{$assets_path}images/hide@2x.png) no-repeat;
							    background-size:100%;
							}
						
						}


						div.delete-story-icon {
							height: 17px;
							width: 17px;
							background: url(#{$assets_path}images/delete_story_icon.png) no-repeat;
							background-position: 0 0;
							top: 10px;
							left: 12px;
							position: absolute;

							/* 1.5 dpr */
							@media(-webkit-min-device-pixel-ratio: 1.5), 
							(min-resolution: 144dpi){ 
							    background: url(#{$assets_path}images/delete_story_icon@2x.png) no-repeat;
							    background-size:100%;
							}
						}

						div.feature-story-icon {
							height: 17px;
							width: 17px;
							background: url(#{$assets_path}images/feature_icon.png) no-repeat;
							background-position: 0 0;
							top: 10px;
							left: 12px;
							position: absolute;

							/* 1.5 dpr */
							@media(-webkit-min-device-pixel-ratio: 1.5), 
							(min-resolution: 144dpi){ 
							    background: url(#{$assets_path}images/feature_icon@2x.png) no-repeat;
							    background-size:100%;
							}

						}
					}
				}
			}
		}

		#manage-stories-tags {
			ul.tags {
				width: 100%;
				height: 28px;

				li {
					height: 28px;
					float:left;

					p {
						font-size: 16px;
						color:#000;
						padding-top: 5px;
						margin-right: 5px;
					}

					a.tag {
						height: 24px;
						width: 80px;
						text-align: center;
						border: 1px solid #979797;
						border-radius: 40px;
						color: $light-grey;
						display: block;
						text-decoration: none;
						padding-top:4px;
						margin-right: 4px;

						&.active {
							border: none;
							background: $aKoma-blue;
							height: 25px;
							width: 82px;
							color: #FFF;
							padding-top:5px;
						}
					}
				}
			}
		}

		#story-image {
			margin-top:20px;
			margin-bottom: 35px;

			@include respond-to(handhelds) {
				margin-bottom: 20px;	
			}

			img {
				width: 100%;
			}

			#upload-container, .image-uploader {
				width: 700px;
				margin: 0 auto;
				height: 165px;
				border-radius: 7px;
				background: #efefef;
				cursor:pointer;
				padding:0px;
				border: 2px dotted #979797;

				@include respond-to(handhelds) {
					width: 90%;
				}
			}

		}

		#story-body {
			width: 700px;
			margin: 0 auto;
			position: relative;

			div.edit-icon {
				top: -2px;

				@include respond-to(handhelds) {
					top:5px;
				}
			}

			@include respond-to(handhelds) {
				width: 90%;	
			}

			p {
				font-size: 18px;
				line-height: 34px;
				margin-bottom: 40px;
			}

			div.editable-wrapper {
				&.not-edited-yet {
					p {
						color:#999;
					}
				}
			}
		}

		#story-footer {
			padding-bottom: 25px;
			border-bottom: 1px solid $rule-color;
			width: 700px;
			margin: 0 auto;

			@include respond-to(handhelds) {
				width: 90%;	
			}

			#social {
				width: 100%;

					//expanded state
					&.expanded {

						#share-tools {
							ul#main-share {
								li {
									div.plus {
										span.hr {
											display:none;
										}
									}
								}
							}

						}
					}

				#share-tools {

					float:left;

					@include respond-to(handhelds) {
						float: none;	
					}

					ul#main-share {
						height: 40px;
						float: left;



						li {
							float: left;
							height: 40px;
							margin-right: 7px;

							div.plus {
								height: 40px;
								width: 40px;
								background: #C4C3C3;
								border-radius: 50%;
								cursor: pointer;
								position:relative;

								span.vr {
									position:absolute;
									width: 20px;
									height: 2px;
									left:10px;
									top:19px;
									background: #FFF;
								}

								span.hr {
									position:absolute;
									width: 2px;
									height: 20px;
									left:19px;
									top:10px;
									background: #FFF;
								}

							}

							a.share-button {
								width: 120px;
								height: 26px;
								background: #000;
								display:block;
								border-radius: 40px;
								color: #FFF;
								font-size: 12px;
								padding-top:14px;
								padding-left:38px;
								text-decoration: none;
								font-weight: 600;

								@include respond-to(handhelds) {
									width: 80px;
									font-size: 14px;
									padding-top:12px;
									height:28px;
									padding-left:40px;
									width: 75px;
								}

								span.share-lang {
									@include respond-to(handhelds) {
										display:none;
									}
								}

								&.facebook {
									background: url(#{$assets_path}images/facebook_share.png) no-repeat #3A5795;
									background-position: 16px 9px;

									/* 1.5 dpr */
									@media(-webkit-min-device-pixel-ratio: 1.5), 
									(min-resolution: 144dpi) { 
									    background: url(#{$assets_path}images/facebook_share@2x.png) no-repeat #3A5795;
									    background-position: 18px 12px;
									    background-size:8%;
									}

								}

								&.twitter {
									background: url(#{$assets_path}images/twitter_share.png) no-repeat #55ACEE;
									background-position: 14px 11px;

									/* 1.5 dpr */
									@media(-webkit-min-device-pixel-ratio: 1.5), 
									(min-resolution: 144dpi) { 
									    background: url(#{$assets_path}images/twitter_share@2x.png) no-repeat #55ACEE;
									    background-position: 14px 14px;
									    background-size:14%;
									}
								}
							}
						}
					}

					ul#secondary-share {
						height: 40px;
						display:block;
						width: 100%;
						margin-top:2px;
						display:none;

						li {
							float: left;
							height: 40px;
							margin-right: 7px;

							a.share-button {
								width: 74px;
								height: 40px;
								border-radius: 40px;
								display: block;
								background-position: center;


								&.google-plus {
									background-image: url(#{$assets_path}images/google_plus_share.png);
									background-repeat: no-repeat;
									background-color: #C14A33;
								}


								&.google-plus {
									background-image: url(#{$assets_path}images/google_plus_share.png);
									background-repeat: no-repeat;
									background-color: #C14A33;
								}

								&.linkedIn {
									background-image: url(#{$assets_path}images/linkedIn_share.png);
									background-repeat: no-repeat;
									background-color: #0076B7;
								}


								&.email {
									background-image: url(#{$assets_path}images/email_share.png);
									background-repeat: no-repeat;
									background-color: #7FA1B4;
								}
								
							}
						}
					}

				}

				a.recommend-button {
					font-weight: 600;
					float: right;
					width: 105px;
					height: 26px;
					border: 2px solid $light-grey;
					display:block;
					border-radius: 40px;
					color: $light-grey;
					font-size: 12px;
					padding-top:14px;
					padding-left:50px;
					text-decoration: none;
					background: url(#{$assets_path}images/heart_recommend.png) no-repeat;
					background-position: 12px 10px;

					@include respond-to(handhelds) {
						float: none;
						margin-top:6px;
					}
				}

				&.expanded {
					#share-tools {
					ul#secondary-share {
						display: block;
					}
					}
				}
			}

			div.story-meta {
				width: 100%;
				margin-top:25px;
			}

		} 

	}

/************************************************************
*	COMPOSE STORY - FINISH OVERLAY
*/

	#finish-overlay {
		height: 100%;
		width: 100%;
		background: #FFF;
		position:fixed;
		top:0px;
		left: 0px;
		z-index:1000;
		display:none;

			div.relative {

				overflow-y: scroll;

				#content {
					margin: 0 auto;
					margin-top:100px;
					width: 590px;
					margin-bottom: 100px;

					@include respond-to(handhelds) {
						width: 90%;
						margin-top:30px;
						margin-bottom:130px;
					}

					h4 {
						font-size: 24px;
						color:#000;
						line-height: 30px;
						margin-bottom: 7px;
					}

				

					#top-directions {
						width: 100%;
						text-align: center;
						padding-bottom: 25px;
						border-bottom: 1px solid $rule-color;

						p {
							font-size: 16px;
							color: $mid-grey;
							font-size: 16px;
						}

						/*h4 {
							font-size: 24px;
							color:#000;
							line-height: 30px;
							margin-bottom: 5px;
						}*/
					}

					#summary-details {
						margin-top: 15px;
						padding-bottom: 25px;
						border-bottom: 1px solid $rule-color;
						margin-bottom: 25px;

						h4 {
							margin-bottom: 10px;
						}

						div.story-info {

							@include respond-to(handhelds) {
								padding-left:30px;
							}

							div.summary {

								position:relative;
								min-height: 50px;
								margin-bottom:20px;



								p {
									font-size: 18px;
									color: $mid-grey;
									line-height : 24px; 

								}

								div.edit-icon {
									left:-50px;
									top:5px;
									width: 32px;
									height: 29px;
									background-size: 50%;
									background-position: 8px 6px;

									@include respond-to(handhelds) {
										width: 21px;
										height: 23px;
										background-position: 5px 6px;
										left:-30px;
									}	
								}

							}

						}

						ul.tag-list {
								width: 100%;
								height: 30px;
								margin-bottom: 15px;

							@include respond-to(handhelds) {
								display: block;
								height: auto;
							}

							li {
								float:left;
								height: 35px;

								&.label {
									margin-right: 12px;
									
									@include respond-to(handhelds) {
										float: none;
										display: block;
									}

									h4 {
										font-size: 22px;
									}
								}

								&.tag {
									margin-right: 6px;

									a {
										width: 100px;
										height: 23px;
										border: 1px solid $light-grey;
										border-radius: 40px;
										text-align: center;
										text-decoration: none;
										color: $light-grey;
										display: block;
										margin-top:3px;
										padding-top: 5px;

										&.active {
											background: $aKoma-blue;
											color: #FFF;
											border: none;
											height: 25px;
											width:102px;
										}
									}

								}
							}
						}

						p.tag-descrip {
							font-size: 13px;
							color: $light-grey;

							@include respond-to(handhelds) {
								margin-top:20px;
							}
						}	
					}

					#action-area {
						width: 100%;
						height:40px;

						@include respond-to(handhelds) {
							height: auto;
						}

						ul.action-list {
							width: 100%;
							height: 40px;
							@include respond-to(handhelds) {
								height: auto;
							}

							li {
								float: left;
								margin-right: 8px;

								&.last {
									margin-right: 0px;
								} 

								@include respond-to(handhelds) {
									width: 100%;
									margin-top:0px;
									float:none;
									display:block;
								}

								a.action-button {
									height: 28px;
									width: 178px;
									display: block;
									border-radius: 20px;
									border: 1px solid #000;
									padding-left: 10px;
									text-align: center;
									font-size: 16px;
									color: #000;
									text-decoration: none;
									padding-top:10px;
									position:relative;

									@include respond-to(handhelds) {
										width: 100%;
										margin-top:10px;
										padding-left:0px;
									}

									div.continue-editing-icon {
										background: url(#{$assets_path}images/continue_editing_icon.png) no-repeat;
										background-position: 0 0;
										width: 18px;
										height: 17px;
										top:10px;
										left:12px;
										position:absolute;

										/* 1.5 dpr */
										@media(-webkit-min-device-pixel-ratio: 1.5), 
										(min-resolution: 144dpi) { 
										  	background: url(#{$assets_path}images/continue_editing_icon@2x.png) no-repeat;
										    background-size:100%;
										}

										@include respond-to(handhelds) {
											left:30px;
										}


									}

									div.save-to-drafts-icon {
										background: url(#{$assets_path}images/save_to_drafts.png) no-repeat;
										background-position: 0 0;
										width: 21px;
										height: 20px;
										top:10px;
										left:13px;
										position:absolute;

										/* 1.5 dpr */
										@media(-webkit-min-device-pixel-ratio: 1.5), 
										(min-resolution: 144dpi) { 
										  	background: url(#{$assets_path}images/save_to_drafts@2x.png) no-repeat;
										    background-size:100%;
										}

										@include respond-to(handhelds) {
											left:30px;
										}
									}

									&.publish {
										height: 30px;
										width: 190px;
										border: none;
										padding-left:0px;
										color: #FFF;
										background:#40D047;
						

										/* 1.5 dpr */
										@media(-webkit-min-device-pixel-ratio: 1.5), 
										(min-resolution: 144dpi) { 
										    background-size:100%;
										}

										@include respond-to(handhelds) {
											width: 100%;
										}

										div.publish-icon {
											background: url(#{$assets_path}images/publish_checkmark.png) no-repeat;
											background-position: 0 0;
											width: 21px;
											height: 20px;
											top:10px;
											left:14px;
											position:absolute;

											/* 1.5 dpr */
											@media(-webkit-min-device-pixel-ratio: 1.5), 
											(min-resolution: 144dpi) { 
											  	background: url(#{$assets_path}images/publish_checkmark@2x.png) no-repeat;
											    background-size:100%;
											}

											@include respond-to(handhelds) {
												left:30px;
											}
										}

									}

								}	
							}
						}
					}


				}


			}


	}

/************************************************************
*	MANAGE STORIES WRAPPER
*/

	#manage-stories-container {
		height: 100%;
		width: 100%;
		position:relative;
		background-color: #000;
		//overflow-y: scroll;

		#left-column {
			position:fixed;
			width: 300px;
			height: 100%;
			overflow-y: scroll;
			border-right: 1px solid $rule-color;
			/*background-color: #ccc;*/

			#filter-selector-wrapper {
				width: 100%;
				height: 110px;
				background: #EFEFEF;
				border-bottom: 1px solid $rule-color;


				h3 {
					padding-top:30px;
					font-size: 16px;
					color: #000;
					padding-left: 23px;
					margin-bottom: 10px;
				}

				select {
					width: 240px;
					margin-left: 23px;
				}

			}

			ul#stories-list {
				width: 100%;

				li {
					width: 100%;
					min-height: 100px;
					border-bottom: 1px solid $rule-color;
					position: relative;

					a {
						width: 100%;
						height: 100%;
						min-height: 100px;
						display: block;
						padding-bottom: 20px;
						text-decoration: inherit;
						color: inherit;
					}

					div.featured-eyebrow {
						height: 15px;
						position: relative;
						padding-left: 23px;
						margin-top: 20px;
						margin-left: 20px;
						color: $aKoma-blue;

						div.featured-eyebrow-icon {
							position: absolute;
							left: 0px;
							top: -1px;
							height: 17px;
							width: 17px;
							background: url(#{$assets_path}images/featured_eyebrow_icon.png);
							background-position: 0 0;

							/* 1.5 dpr */
							@media(-webkit-min-device-pixel-ratio: 1.5), 
							(min-resolution: 144dpi) { 
							  	background: url(#{$assets_path}images/featured_eyebrow_icon@2x.png) no-repeat;
							    background-size:100%;
							}
						}

					}

					div.sort-up-arrow {
						height: 9px;
						width: 14px;
						background: url(#{$assets_path}images/sort_up.png) no-repeat;
						position: absolute;
						right: 12px;
						top: 12px;
						cursor: pointer;
					}

					div.sort-down-arrow {
						height: 9px;
						width: 14px;
						background: url(#{$assets_path}images/sort_down.png) no-repeat;
						position: absolute;
						right: 12px;
						bottom: 12px;
						cursor: pointer;
					}

					div.is-visible {
						height: 13px;
						width: 21px;
						background: url(#{$assets_path}images/is_visible_icon.png) no-repeat;
						position: absolute;
						top: 50%;
						margin-top: -7px;
						right:10px;
						cursor: pointer;
					}


					&.featured {
						border-bottom: 10px solid $aKoma-blue;
					}

					h4 {
						font-size: 16px;
						line-height: 20px;
						padding-top:15px;
						padding-left:20px;
						padding-right:35px;
					}

					//author
					div.author {
						width:210px;
						padding-left:20px;
						margin-top:10px;
						padding-right: 35px;

						div.author-image {
							height:30px;
							width:30px;
							border-radius:50%;
							background:#ccc top left no-repeat;
							background-size: 100%;
							float:left;

						}

						div.byline {
							width:170px;
							float: right;

							p {
								font-size: 13px;
								font-weight: 400;
								color: #000;
								margin-top:3px;

								a {
									color:inherit;
									text-decoration: inherit;
								}

								span {
									font-size:13px;
									display:block;
									color: $light-grey;
									margin-top:2px;
								
								}

							}


						}

					}
				}

			}

		}

		#right-column {
			position:absolute;
			width: 700px;
			height: auto;
			left: 50%;
			margin-left:-200px;
			top:0px;
			padding-bottom: 200px;


		}


	}
	






