{{!< featured}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<!--BEGIN CATEGORY HERO AREA-->
<div id="category-hero">
	<div id="image-area">
		{{#if @blog.cover}}
			<img src="{{@blog.cover}}" />
		{{/if}}
		<div id="tint"></div>
	</div>
	<div id="headline">
		<h3>Hits<span class="circle-decoration"></span><span class="cat-descrip">Lorem ipsum dolor</span></h3>
		<h4>A look into a hashtag's unintended consequences in Nigeria</h4>
	</div>
</div>
<!--END CATEGORY HERO AREA-->


{{> "loop"}}