{{!< featured}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}


<!--BEGIN CATEGORY HERO AREA-->
<div id="full-bleed-hero">
	<!--FLUID IMAGE AREA-->
	<div id="fluid-image">
		<img src="{{tag.image}}" />
	</div>
	<!--END FLUID IMAGE AREA-->
	<!-- TINT AREA -->
	<div id="tint"></div>
	<!--END TINT AREA-->
	<!--HEADLINE AREA-->
	<div id="headline">
		<h3>{{tag.name}}
		{{#if tag.description}}
			<span class="circle-decoration"></span>
			<span class="cat-descrip">{{tag.description}}</span></h3>
		{{/if}}
	</div>
	<!--END HEADLINE-->
</div>
<!--END CATEGORY HERO AREA-->


{{> "loop"}}