a#menu-icon {
	width:50px;
	height:50px;
	position:fixed;
	display:block;
	left:20px;
	top:18px;
	z-index: 2500;

	&.tool-tip-active {
		@include respond-to(handhelds) {
			display:none;
		}
	}

	@include respond-to(handhelds) {
		height:40px;
		width:40px;
		left:5px;
		top:5px;
	}

	div.menu-bar {
		width:35px;
		height:2px;
		position:absolute;
		left:7px;
		background:#000;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;


			@include respond-to(handhelds) {
				width:27px;
			}

			
		&.one {
			top:15px;
			@include respond-to(handhelds) {
				top:13px;
			}
		}

		&.two {
			top:24px;
			@include respond-to(handhelds) {
				top:19px;
			}
		}

		&.three {
			top:33px;
			@include respond-to(handhelds) {
				top:25px;
			}
		}

	}

	&.is-white  {
		div.menu-bar {
			background:#FFF;
		}
	}

	&.menu-is-open {
		div.menu-bar {
			background:#FFF;

			&.one {
				top:24px;
				-ms-transform: rotate(45deg); /* IE 9 */
    			-webkit-transform: rotate(45deg); /* Safari */
    			transform: rotate(45deg);

			}

			&.two {
				top:24px;
				-ms-transform: rotate(-45deg); /* IE 9 */
    			-webkit-transform: rotate(-45deg); /* Safari */
    			transform: rotate(-45deg);

			}

			&.three {
				top:33px;
				opacity: 0;

			}
		}
	}

}


	
		
