#user-gate {

	position: fixed;
	top: 0px;
	left:0px;
	width: 100%;
	height: 100%;
	overflow-y:scroll;
	-webkit-opacity: 0;
  	-moz-opacity: 0;
  	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    z-index: 6000;
    font-family: $akoma-fonts;


    &.fadedIn {
    	-webkit-opacity: 1;
  		-moz-opacity: 1;
  		opacity: 1;
		height: 100%;
		overflow-y:scroll;

		#overlay-background {
			height:100%;
		}

		#menu-content {
			height: 360px;

			@include respond-to(handhelds) {
				height: 500px;
			}

			@include respond-to(smallPhone) {
				height: 450px;
			}
		}
    }

    
    &.hidden {
		height: 0;
		overflow:hidden;

		#overlay-background {
			height:0;
		}

		#menu-content {
			height: 0;

			@include respond-to(handhelds) {
				height: 0;
			}
		}
    }


	#overlay-background {
		position: fixed;
		width: 100%;
		height:100%;
		background: #000;
		opacity: 0.92;
	}

	a#gate-menu-icon {
		width:50px;
		height:50px;
		position:fixed;
		display:block;
		left:20px;
		top:18px;
		z-index: 2500;

	&.tool-tip-active {
		@include respond-to(handhelds) {
			display:none;
		}
	}

	@include respond-to(handhelds) {
		height:40px;
		width:40px;
		left:5px;
		top:5px;
	}

	div.menu-bar {
		width:35px;
		height:2px;
		position:absolute;
		left:7px;
		background:#FFF;
		//-webkit-transition: all 0.2s ease-out;
		//-moz-transition: all 0.2s ease-out;
		//-o-transition: all 0.2s ease-out;


			@include respond-to(handhelds) {
				width:27px;
			}

			
			&.one {
					top:24px;
					-ms-transform: rotate(45deg); /* IE 9 */
	    			-webkit-transform: rotate(45deg); /* Safari */
	    			transform: rotate(45deg);
				@include respond-to(handhelds) {
					top:24px;
					
				}
			}

			&.two {
				top:24px;
				-ms-transform: rotate(-45deg); /* IE 9 */
	    		-webkit-transform: rotate(-45deg); /* Safari */
	    		transform: rotate(-45deg);
				@include respond-to(handhelds) {
					top:24px;
				
				}
			}


		}

	}



/************************************************************
*	BEGIN SOCIAL SIGN IN 
*/	
	#social-sign-in {
		width: 450px;
		height: 300px;
		position: absolute;
		left: 50%;
		top:50%;
		margin-left: -225px;
		margin-top: -160px;

		@include respond-to(handhelds) {
			width: 100%;
			margin-left: 0px;
			left: 0%;
		}

		p.sign-in {
			font-size: 30px;
			color: #FFF;
			text-align: center;
			margin-bottom: 45px;
			color: #FFF;
		}

		a.social-sign-in-button {
			width: 220px;
			height: 33px;
			border-radius: 8px;
			padding-left: 60px;
			display: block;
			font-size: 18px;
			margin: auto;
			margin-bottom: 15px;
			position:relative;
			padding-top:16px;
			text-transform: none;
			color: #FFF;
			text-decoration: none;

			div.icon {
				position:absolute;
			}

			&#tw-single-sign-on {
				background: #55ACEE;

				div.icon {
					width: 23px;
					height: 18px;
					background: url(#{$assets_path}images/tw_ss_icon.png) top left no-repeat;
					top:16px;
					left:15px;
				}
			}


			&#fb-single-sign-on {
				background: #3A5795;
				margin-bottom: 35px;

				div.icon {
					width: 14px;
					height: 23px;
					background: url(#{$assets_path}images/fb_ss_icon.png) top left no-repeat;
					top:12px;
					left:17px;
				}
			}
		}

		p.ss-info {
			font-size: 14px;
			color: #FFF;
			text-align: center;
			margin-bottom: 45px;
			color: #B3B3B1;
			line-height: 18px;
		}

	}


/************************************************************
*	BEGIN REQEUST FORM
*/	
	#request-form {

		width: 450px;
		height: 450px;
		position: absolute;
		left: 50%;
		top:50%;
		margin-left: -225px;
		margin-top: -225px;
		background: #000;
		font-family: $akoma-fonts;

		@include respond-to(handhelds) {
			width: 90%;
			margin: 0 auto;
			height: auto;
			position: static;
			margin-top: 80px;
		}

		p.header {
			font-size: 26px;
			line-height: 32px;
			color: #FFF;
			font-weight: 500;
			margin-bottom: 10px;
		}

		p.subhead {
			font-size: 16px;
			line-height: 20px;
			color: #B3B3B1;
			margin-bottom: 20px;
		}

		div.input-wrapper {
			width: 85%;
			height: 45px;
			background: #D8D8D8;
			position: relative;
			padding-left:15%;
			margin-bottom: 15px;

			input {
				position:absolute;
				width: 85%;
				left: 15%;
				top: 2px;
				background: none;
				border: 0px;
				height: 90%;
				font-size: 16px;
				line-height: 16px;
				color: #777;
				font-family: $akoma-fonts;

				&:focus {
    				outline: 0;
				}
			}

			div.icon {
				position:absolute;

				&.name {
					height: 24px;
					width: 18px;
					top:11px;
					left: 20px;
					background: url(../images/form_name_icon.png) top left no-repeat;

					@media(-webkit-min-device-pixel-ratio: 1.5), 
					(min-resolution: 144dpi){ 
					    background: url(#{$assets_path}images/form_name_icon@2x.png) top left no-repeat;
					    background-size:100%;
					}
				}

				&.email {
					height: 17px;
					width: 24px;
					top:14px;
					left: 17px;
					background: url(../images/form_email_icon.png) top left no-repeat;

					/* 1.5 dpr */
					@media(-webkit-min-device-pixel-ratio: 1.5), 
					(min-resolution: 144dpi){ 
					    background: url(#{$assets_path}images/form_email_icon@2x.png) top left no-repeat;
					    background-size:100%;
					}
				}
			
			}
		}

		textarea {
			height: 90px;
			width: 93%;
			background: #D8D8D8;
			margin: 0px;
			padding: 3%;
			font-size: 16px;
			color:#777777;
			margin-bottom: 13px;
			font-family: $akoma-fonts;
		}

		a.send-request-button {
			width: 100%;
			height: 36px;
			padding-top:14px;
			border-radius: 8px;
			text-align: center;
			display: block;
			font-size: 20px;
			color: #fff;
			background: $aKoma-blue;
			text-decoration: none;
			position: relative;

			div.icon {
				background: url(#{$assets_path}images/send_request_arrow.png) top left no-repeat;
				left:50%;
				margin-left: -120px;
				top:10px;
				height: 27px;
				width: 30px;
				position: absolute;

				/* 1.5 dpr */
				@media(-webkit-min-device-pixel-ratio: 1.5), 
				(min-resolution: 144dpi){ 
				    background: url(#{$assets_path}images/send_request_arrow@2x.png) top left no-repeat;
				    background-size:100%;
				}


			}
		}

	}

}



