<br /><br /><br /><br /><br /><br /><br /><br /><br />
<div id="story-detail">
    This is the drafts apge...

    {{#each post in controller itemController="posts/post" itemView="post-item-view" itemTagName="li"}}
     	{{post}}
    {{/each}}

</div>