<div class='editor g-body'>
    <article class="content" contenteditable="true">
    	{{#if value}}
        	{{{value}}}
        {{else}}
        	<p>Start writing your story here...</p>
        {{/if}}
    </article>
</div>



<script type="text/javascript">
  grande.bind($("article.content"));
</script>