<div class='editor g-body'>
    <article class="content">
    	{{#if value}}
        	{{{value}}}
        {{else}}
        	<p>Start writing your story here...</p>
        {{/if}}
    </article>
</div>



<script type="text/javascript">
  grande.bind(document.querySelectorAll("article"));
</script>