
	<div class="editable-wrapper">
		<section class="entry-markdown js-entry-markdown {{unless isPreview 'active'}}">
		    <section id="entry-markdown-content" class="entry-markdown-content">
		    	
					<div class='editor' id="body-editor">
					    <article class="content" contenteditable="true">
					    	{{#if value}}
					        	{{{value}}}
					       	{{else}}
					       		<p><br /></p>
					        {{/if}}
					    </article>
					</div>
					<div class='editor-placeholder {{if value "hidden" ""}}'>Start writing your story...</div>
			</section>
	    </section>
	</div>
